# Python
__pycache__/
*.py[cod]
*$py.class

# Distributions
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
mlruns/
models/
*.pkl
dataset/

# Private Presenter Assets (User only)
*VIDEO_PRESENTATION_SCRIPT*.md
docs/*VIDEO_PRESENTATION_SCRIPT*.md

